* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family:'Courier New', Courier, monospace;
  overflow: hidden;
  font-size: 20px;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

/* Background plein écran */
#background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Calque de sprites devant le background */
#characters {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

/* Positions de base des sprites */
.char-center {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 70vh;
}

.char-left {
  position: absolute;
  bottom: 120px;
  left: 20%;
  transform: translateX(-50%);
  max-height: 70vh;
}

.char-right {
  position: absolute;
  bottom: 120px;
  right: 20%;
  transform: translateX(50%);
  max-height: 70vh;
}

/* Boîte de dialogue au-dessus de tout */
#dialog-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

#name {
  font-weight: bold;
  font-size:25px;
  margin-bottom: 10px;
  color: #66ffa1;
}

#text {
  margin-bottom: 15px;
  line-height: 1.4;
}

#choices {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.choice {
  padding: 8px 12px;
  background: #9dcf8d;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.choice:hover {
  background: #9b2020;
}
